<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyWebStyle</title>
    <link rel="stylesheet" href="../sass/font-awesome.css">
    <link rel="stylesheet" href="../sass/common.css">
    <link rel="stylesheet" href="../sass/menu.css">
    <link rel="stylesheet" href="../sass/iconfont.css">
    <script src="../../jquery-1.9.1.min.js"></script>
    <script src="../js/iconfont.js"></script>
    <style type="text/css">
        .icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="head clearFix" id="head">
        <div class="head-logo">
            <span>WebStore</span>
        </div>
        <div class="head-menu clearFix">
            <a class="img-a">
                <img src="../img/menuShow.png">
            </a>
            <a class="img-a">
                <img src="../img/person.png" class="personHeight">
            </a>
            <ul class="menu-ul">
                <li class="menu-ul-li">
                    <a href="#">
                        <span>Mega</span>
                        <span class="caret"></span>
                    </a>
                </li>
                <li class="menu-ul-li">
                    <a href="#">
                        <span>New</span>
                        <span class="caret"></span>
                    </a>
                </li>
            </ul>
            <div class="fl">
                <input class="mySearch" placeholder="Search projects...">
                <button class="btn">
                    <i class="search"></i>
                </button>
            </div>
            <div class="fr btn-user">
                <ul class="menu-ul">
                    <li class="menu-ul-li">
                        <a href="#">
                            <img src="../img/advice.png" class="fl positionRe">
                            <i class="btn-user-back">2</i>
                        </a>
                    </li>
                    <li class="menu-ul-li">
                        <a href="#">
                            <span>John.Smith</span>
                            <span class="caret"></span>
                        </a>
                    </li>
                </ul>
                <img src="../img/user.png" style="width: 48px">
            </div>
        </div>
    </div>
    <div class="content positionRe clearFix">
        <nav class="content-left">
            <ul class="content-left-ul">
                <li>
                    <span style="padding-left: 20px">Navigation</span>
                </li>
                <li>
                    <a>
                        <i class="fa fa-angle-right fr colorWhite paddingTop2px"></i>
                        <i class="fa fa-area-chart fa-lg fl color-purple paddingTop2px"></i>
                        <span class="contentColor">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-angle-right fr colorWhite paddingTop2px"></i>
                        <i class="fa fa-list fa-lg fl color-dker paddingTop2px"></i>
                        <span class="contentColor">Calendar</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-angle-right fr colorWhite paddingTop2px"></i>
                        <i class="fa fa-btc fa-lg fl color-lter paddingTop2px"></i>
                        <span class="contentColor">Email</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-angle-right fr colorWhite paddingTop2px"></i>
                        <i class="btn-advice-num color-success-back">2</i>
                        <i class="fa fa-at fa-lg fl color-success paddingTop2px"></i>
                        <span class="contentColor">Apps</span>
                    </a>
                </li>
                <li class="line-dk"></li>
                <li>
                    <span style="padding-left: 20px">Components</span>
                </li>
                <li>
                    <a>
                        <i class="fa fa-angle-right fr colorWhite paddingTop2px"></i>
                        <i class="fa fa-area-chart fa-lg fl colorWhite paddingTop2px"></i>
                        <span class="contentColor">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-angle-right fr colorWhite paddingTop2px"></i>
                        <i class="fa fa-list fa-lg fl colorWhite paddingTop2px"></i>
                        <span class="contentColor">Calendar</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-angle-right fr colorWhite paddingTop2px"></i>
                        <i class="fa fa-btc fa-lg fl colorWhite paddingTop2px"></i>
                        <span class="contentColor">Email</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-angle-right fr colorWhite paddingTop2px"></i>
                        <i class="fa fa-at fa-lg fl colorWhite paddingTop2px"></i>
                        <span class="contentColor">Apps</span>
                    </a>
                </li>
                <li class="line-dk"></li>
                <li>
                    <span style="padding-left: 20px">Your Stuff</span>
                </li>
                <li>
                    <a>
                        <i class="fa fa-angle-right fr colorWhite paddingTop2px"></i>
                        <i class="btn-advice-ellipse color-success-back">30%</i>
                        <i class="fa fa-btc fa-lg fl colorWhite paddingTop2px"></i>
                        <span class="contentColor">Email</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-angle-right fr colorWhite paddingTop2px"></i>
                        <i class="fa fa-at fa-lg fl colorWhite paddingTop2px"></i>
                        <span class="contentColor">Apps</span>
                    </a>
                </li>
            </ul>
            <div class="wrapper">
                <div class="clearFix">
                    <span class="fl">Milestone</span>
                    <span class="fr">60%</span>
                </div>
                <div class="m-t m-b">
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%"></div>
                    </div>
                </div>
                <div class="clearFix">
                    <span class="fl">Release</span>
                    <span class="fr">30%</span>
                </div>
                <div class="m-t m-b">
                    <div class="progress">
                        <div class="progress-bar color-purple-back" style="width: 30%"></div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="content-right">
            <div class="content-body positionRe clearFix">
                <div class="stall fl">
                    <div class="col fl">
                        <div style="background: url('../img/0.jpg') center center;height: 200px">
                            <div class="box-img">
                                <div class="row fl">
                                    <a class="fl" style="display: inline-block">
                                        <i class="fa fa-user-circle-o fa-5x colorWhite-bk"></i>
                                    </a>
                                    <div class="ms-con">
                                        <div class="ms-con-one colorWhite">
                                            <p>John.Smith</p>
                                            <small>London,UK</small>
                                        </div>
                                        <div class="ms-con-one">
                                            <i class="inLg-back fa fa-twitter fa-lg"></i>
                                            <i class="inLg-back fa fa-facebook-square fa-lg"></i>
                                            <i class="inLg-back fa fa-google fa-lg"></i>
                                        </div>
                                        <div class="positionRe" style="height: 50px">
                                            <a href="#">
                                                <i class="ms-con-one-btn color-success-back">Follow</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-r fr">
                                    <div class="row-r-m">
                                        <a class="inline-block mg15 colorWhite">
                                            <span class="font-bold block ft30">2K</span>
                                            <small class="ft13">Followers</small>
                                        </a>
                                        <a class="inline-block mg15 colorWhite">
                                            <span class="font-bold block ft30">250</span>
                                            <small class="ft13">Following</small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-fr clearFix">
                        <ul class="fl">
                            <li>
                                <a class="color-col colorWhite mHover">Stream</a>
                            </li>
                            <li>
                                <a>Profile</a>
                            </li>
                            <li>
                                <a>Messages</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-content fl">
                        <div class="stream">
                            <div>
                                <a class="small-head fl"><img src="../img/john.png"></a>
                                <div style="margin-left: 50px;">
                                    <div>
                                        <a class="ft18">John smith</a>
                                        <span class="colorDialog fr">Just now</span>
                                    </div>
                                    <div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </p>
                                        </div>
                                        <div style="margin-top: 10px">
                                            <a class="action-icon">
                                                <i class="fa fa-mail-forward"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-star"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-refresh"></i>
                                                13
                                            </a>
                                        </div>
                                        <div class="clearFix" style="padding: 10px 0 0 0px;">
                                            <a class="inline-block fl"><img src="../img/john.png"></a>
                                            <div class="action-dialog fl">
                                                <span>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</span>
                                                <span class="colorDialog fr">1m ago</span>
                                                <div class="action-dialog-fl"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stream">
                            <div>
                                <a class="small-head fl"><img src="../img/john.png"></a>
                                <div style="margin-left: 50px;">
                                    <div>
                                        <a class="ft18">John smith</a>
                                        <span class="colorDialog fr">Just now</span>
                                    </div>
                                    <div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </p>
                                        </div>
                                        <div style="margin-top: 10px">
                                            <a class="action-icon">
                                                <i class="fa fa-mail-forward"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-star"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-refresh"></i>
                                                13
                                            </a>
                                        </div>
                                        <div class="clearFix" style="padding: 10px 0 0 0px;">
                                            <a class="inline-block fl"><img src="../img/john.png"></a>
                                            <div class="action-dialog fl">
                                                <span>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</span>
                                                <span class="colorDialog fr">1m ago</span>
                                                <div class="action-dialog-fl"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stream">
                            <div>
                                <a class="small-head fl"><img src="../img/john.png"></a>
                                <div style="margin-left: 50px;">
                                    <div>
                                        <a class="ft18">John smith</a>
                                        <span class="colorDialog fr">Just now</span>
                                    </div>
                                    <div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </p>
                                        </div>
                                        <div style="margin-top: 10px">
                                            <a class="action-icon">
                                                <i class="fa fa-mail-forward"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-star"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-refresh"></i>
                                                13
                                            </a>
                                        </div>
                                        <div class="clearFix" style="padding: 10px 0 0 0px;">
                                            <a class="inline-block fl"><img src="../img/john.png"></a>
                                            <div class="action-dialog fl">
                                                <span>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</span>
                                                <span class="colorDialog fr">1m ago</span>
                                                <div class="action-dialog-fl"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stream">
                            <div>
                                <a class="small-head fl"><img src="../img/john.png"></a>
                                <div style="margin-left: 50px;">
                                    <div>
                                        <a class="ft18">John smith</a>
                                        <span class="colorDialog fr">Just now</span>
                                    </div>
                                    <div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </p>
                                        </div>
                                        <div style="margin-top: 10px">
                                            <a class="action-icon">
                                                <i class="fa fa-mail-forward"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-star"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-refresh"></i>
                                                13
                                            </a>
                                        </div>
                                        <div class="clearFix" style="padding: 10px 0 0 0px;">
                                            <a class="inline-block fl"><img src="../img/john.png"></a>
                                            <div class="action-dialog fl">
                                                <span>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</span>
                                                <span class="colorDialog fr">1m ago</span>
                                                <div class="action-dialog-fl"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stream">
                            <div>
                                <a class="small-head fl"><img src="../img/john.png"></a>
                                <div style="margin-left: 50px;">
                                    <div>
                                        <a class="ft18">John smith</a>
                                        <span class="colorDialog fr">Just now</span>
                                    </div>
                                    <div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </p>
                                        </div>
                                        <div style="margin-top: 10px">
                                            <a class="action-icon">
                                                <i class="fa fa-mail-forward"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-star"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-refresh"></i>
                                                13
                                            </a>
                                        </div>
                                        <div class="clearFix" style="padding: 10px 0 0 0px;">
                                            <a class="inline-block fl"><img src="../img/john.png"></a>
                                            <div class="action-dialog fl">
                                                <span>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</span>
                                                <span class="colorDialog fr">1m ago</span>
                                                <div class="action-dialog-fl"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stream">
                            <div>
                                <a class="small-head fl"><img src="../img/john.png"></a>
                                <div style="margin-left: 50px;">
                                    <div>
                                        <a class="ft18">John smith</a>
                                        <span class="colorDialog fr">Just now</span>
                                    </div>
                                    <div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </p>
                                        </div>
                                        <div style="margin-top: 10px">
                                            <a class="action-icon">
                                                <i class="fa fa-mail-forward"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-star"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-refresh"></i>
                                                13
                                            </a>
                                        </div>
                                        <div class="clearFix" style="padding: 10px 0 0 0px;">
                                            <a class="inline-block fl"><img src="../img/john.png"></a>
                                            <div class="action-dialog fl">
                                                <span>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</span>
                                                <span class="colorDialog fr">1m ago</span>
                                                <div class="action-dialog-fl"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stream">
                            <div>
                                <a class="small-head fl"><img src="../img/john.png"></a>
                                <div style="margin-left: 50px;">
                                    <div>
                                        <a class="ft18">John smith</a>
                                        <span class="colorDialog fr">Just now</span>
                                    </div>
                                    <div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </p>
                                        </div>
                                        <div style="margin-top: 10px">
                                            <a class="action-icon">
                                                <i class="fa fa-mail-forward"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-star"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-refresh"></i>
                                                13
                                            </a>
                                        </div>
                                        <div class="clearFix" style="padding: 10px 0 0 0px;">
                                            <a class="inline-block fl"><img src="../img/john.png"></a>
                                            <div class="action-dialog fl">
                                                <span>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</span>
                                                <span class="colorDialog fr">1m ago</span>
                                                <div class="action-dialog-fl"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stream">
                            <div>
                                <a class="small-head fl"><img src="../img/john.png"></a>
                                <div style="margin-left: 50px;">
                                    <div>
                                        <a class="ft18">John smith</a>
                                        <span class="colorDialog fr">Just now</span>
                                    </div>
                                    <div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </p>
                                        </div>
                                        <div style="margin-top: 10px">
                                            <a class="action-icon">
                                                <i class="fa fa-mail-forward"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-star"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-refresh"></i>
                                                13
                                            </a>
                                        </div>
                                        <div class="clearFix" style="padding: 10px 0 0 0px;">
                                            <a class="inline-block fl"><img src="../img/john.png"></a>
                                            <div class="action-dialog fl">
                                                <span>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</span>
                                                <span class="colorDialog fr">1m ago</span>
                                                <div class="action-dialog-fl"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stream">
                            <div>
                                <a class="small-head fl"><img src="../img/john.png"></a>
                                <div style="margin-left: 50px;">
                                    <div>
                                        <a class="ft18">John smith</a>
                                        <span class="colorDialog fr">Just now</span>
                                    </div>
                                    <div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </p>
                                        </div>
                                        <div style="margin-top: 10px">
                                            <a class="action-icon">
                                                <i class="fa fa-mail-forward"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-star"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-refresh"></i>
                                                13
                                            </a>
                                        </div>
                                        <div class="clearFix" style="padding: 10px 0 0 0px;">
                                            <a class="inline-block fl"><img src="../img/john.png"></a>
                                            <div class="action-dialog fl">
                                                <span>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</span>
                                                <span class="colorDialog fr">1m ago</span>
                                                <div class="action-dialog-fl"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stream stream-af">
                            <div>
                                <a class="small-head fl"><img src="../img/john.png"></a>
                                <div style="margin-left: 50px;">
                                    <div>
                                        <a class="ft18">John smith</a>
                                        <span class="colorDialog fr">Just now</span>
                                    </div>
                                    <div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </p>
                                        </div>
                                        <div style="margin-top: 10px">
                                            <a class="action-icon">
                                                <i class="fa fa-mail-forward"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-star"></i>
                                            </a>
                                            <a class="action-icon">
                                                <i class="fa fa-refresh"></i>
                                                13
                                            </a>
                                        </div>
                                        <div class="clearFix" style="padding: 10px 0 0 0px;">
                                            <a class="inline-block fl"><img src="../img/john.png"></a>
                                            <div class="action-dialog fl">
                                                <span>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</span>
                                                <span class="colorDialog fr">1m ago</span>
                                                <div class="action-dialog-fl"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="can fl">
                    <div class="stall-last clearFix">
                        <div class="fl">
                            <p class="wrapper ft18 colorDialog">Who To Follow</p>
                            <ul class="mg15 clearFix">
                                <li class="fl m-b">
                                    <a class="fl"><img src="../img/user.png"></a>
                                    <div class="fl na">
                                        <p class="ft18">Chris Fox</p>
                                        <small class="colorDialog block">Designer,Blogger</small>
                                    </div>
                                </li>
                                <li class="fl m-b">
                                    <a class="fl"><img src="../img/user.png"></a>
                                    <div class="fl na">
                                        <p class="ft18">Chris Fox</p>
                                        <small class="colorDialog block">Designer,Blogger</small>
                                    </div>
                                </li>
                                <li class="fl m-b">
                                    <a class="fl"><img src="../img/user.png"></a>
                                    <div class="fl na">
                                        <p class="ft18">Chris Fox</p>
                                        <small class="colorDialog block">Designer,Blogger</small>
                                    </div>
                                </li>
                                <li class="fl m-b">
                                    <a class="fl"><img src="../img/user.png"></a>
                                    <div class="fl na">
                                        <p class="ft18">Chris Fox</p>
                                        <small class="colorDialog block">Designer,Blogger</small>
                                    </div>
                                </li>
                            </ul>
                            <div class="advice-l">
                                <span class="ft18 m-b block">Latest Tweets</span>
                                <div class="borderDefault">
                                    <div class="advice-l-content borderB">
                                        <p class="colorP">Wellcome <a class="color-col-a">@Drew Wllon</a> and play this web application template, have fun1</p>
                                        <i class="fa fa-clock-o colorDialog">2 minuts ago</i>
                                    </div>
                                    <div class="advice-l-content borderB">
                                        <p class="colorP">Wellcome <a class="color-col-a">@Drew Wllon</a> and play this web application template, have fun1</p>
                                        <i class="fa fa-clock-o colorDialog">2 minuts ago</i>
                                    </div>
                                    <div class="advice-l-content borderB">
                                        <p class="colorP">Wellcome <a class="color-col-a">@Drew Wllon</a> and play this web application template, have fun1</p>
                                        <i class="fa fa-clock-o colorDialog">2 minuts ago</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="floot fl">-->
                <!--<p>© 2014 Copyright. More Templates 模板之家 - Collect from 网页模板</p>-->
            <!--</div>-->
        </div>
        <div class="floot fr">
            <p>© 2014 Copyright. More Templates 模板之家 - Collect from 网页模板</p>
        </div>
    </div>
    <div class="upToTop" id="upToTop">
        <img src="../img/up.png">
    </div>
    <script>
        function aa(){
            var result = new Array();
            for(var i=0;i<10;i++){
                result[i] = function(){
                    return i;
                };
            }
            return result;
        }
        function bb(){
            for(var i=0;i<2;i++){
                console.log(i);
            }
            console.log(i);
        }
        bb();
        console.log(aa());
        $(function(){
            $("#upToTop").hide();
            $(window).scroll(function(){
                if($(document).scrollTop()>10){
                    $("#upToTop").show();
                    $("#head").css({position:"fixed",boxShadow:"0 0 5px #888"});
                }else{
                    $("#upToTop").hide();
                    $("#head").css({position:"absolute",boxShadow:"none"});
                }
            })
            $("#upToTop").click(function(){
                $("html,body").animate({scrollTop:0})
            })
            function Person(name,age,job){
                this.name = name;
                this.age = age;
                this.job = job;
                this.setName = function(){
                    alert(this.name);
                }
            }
            var person1 = new Person("Huang",18,"work");
            console.log(person1);
        })
    </script>
</body>
</html>